
<%= image_tag @kitten.image %> 

<h1>ADD A KITTEN CATEGORY</h1>





<h1></h1>

<%= form_for [@kitten, @categorization] do |f| %>


<p>

<%= f.label :category_id %>
    <em><%=f.collection_select(:category_id, Category.all.order('name ASC'), :id, :name,{include_blank:"Select category"}) %></em> 
</p>

name ASC

  <%= f.submit 'Category' %>

<%= link_to 'Cancel', root_path %>



<% end %>
